.content {    
    background-color:#ffff;
    width: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    margin-bottom: 0px;         
}


.imagem-02, .imagem-03, .imagem-04 {
    height: 400px;
    width: 200px;
    
}

.card-title, .card-strong, .card-title1 {
    text-align: center;
    padding: 20px 0;
}
.card-title, .card-title1 {
    font-size: 50px;
    font-family: GOTHAM-LIGHT;
    
        
    
}

.card-strong{
    font-size: 100px;
    font-weight: 800;
    font-family: GOTHAM-BOLD;
}

.card-subtitle, .card-subtitle1 {
    font-size: 15px;
    text-align: center;
    padding-bottom: 60px;
    margin: 0 200px; 
    font-family: GOTHAM-XLIGHT;
    
}
.card-subtitle {
  margin-top: 50px;
  margin-bottom: -20px;
}

.title-midle {
    margin-top: 25px;     
    padding: 50px;
    text-align: center;
}

.p{
    margin-top: -30px;
    font-size: 30px;
    font-family: GOTHAM-BOLD;
}

.bar-left {       
    margin-right: 1070px;
}
.bar-right{
    margin-top: -65px;
    margin-left: 1070px; 
}

.title-final {    
    text-align: center;
}


.bar-leftfinal {
    margin-right: 900px;
    margin-left: 50px;
}

.bar-rightfinal{
    margin-right: 50px;
    margin-left: 900px; 
    margin-top: -20px;

}
.p-boldfinal{
    font-size: 40px;
    text-align: start;
    margin-left: 300px;
    margin-bottom: 10px;
    font-family: GOTHAM-BOLD;
}

.p-regularfinal{
    font-size: 50px;
    text-align: end;
    margin-right: 300px;
    margin-top: 10px;
    font-family: GOTHAM-XLIGHT;
}


.button-all{
    background-color: #000;
    height: 80px;
    width: 700px;
    font-size: 30px;
    color: #fff;
    cursor: pointer; 
    font-weight: 400;
    font-family: GOTHAM-MEDIUM;  
}

.button-all:hover {    
    color: rgb(216, 216, 38);
}

.end-news{
    background-color: #000;
    margin-top: 90px;
    padding: 50px;
    color: #fff;
    text-align: center;
    font-family: GOTHAM-LIGHT;      
}

.row{
    margin-top: 30px;
    margin-bottom: -20px;
}

.form-control, .form-button{
    margin-left: 20px;
    width: 50px;
    color: #fff;
    font-size: 14px;
}

.form-button {
    width: 300px;
    height: 20px;
    background-color: #000;
    color: #fff;    
}