.card {    
    display: flex;      
    padding: 5px;
    width: auto; 
    flex-wrap: wrap;
    flex-direction: row;      
    justify-content: center;      
}

.card-body {
    display: flex;
    /* align-items: center; */
    flex-direction: column; 
    border-radius: 5px;    
    background-color:#f7f6f4 ;
    margin: 20px;   
    width: 400px;
    height: 300px;        
}

.card-icon, .card-text {              
    width: 350px;
    height: 200px;   
    align-self: center;   
    text-align: center;
       
}

.card-icon {
    margin-top: 65px;
    margin-bottom: -10px;
    
}
.card-text {
    margin-bottom: 45px; 
    font-family: GOTHAM-LIGHT;
    font-size: 13px;  
}