.header {
    width:100%;
    z-index: 999;    
    position: fixed;
    display: flex;
    background-color: #000;  
    padding: 5px 10px;
    box-shadow: 0px 1px 5px black;
    color: white;
    justify-content: space-between;
    font-size: 25px;
}

.logo{   
        margin-left: 50px;
        cursor: pointer;        
        font-family: GOTHAM-LIGHT; 
        padding: 10px; 
        z-index: 999;         
    }

.M, .C{
    font-size: 40px;
}


.bottons{
    margin-right: 50px;
    margin-top: 7px;
    overflow: hidden;     
}


.form-control{
    margin-top: 17px ; 
    margin-bottom: 17px; 
    background-color: #000;
    border-left:#fff  ;
    border-right: #fff;
    border-top: #fff;
    /* width: 100px; */
    padding: 0 100px;
}

.bottons-products button{
    margin-top: 17px ;    
    border: unset;
    background-color: #000;
    color: white;
    cursor: pointer; 
    font-family: GOTHAM-LIGHT;   
    padding: 10px;
         
}

.b1:hover, 
.b2:hover, 
.b3:hover , 
.b4:hover {    
    color: rgb(216, 216, 38);
}

.b1, .b2, .b3 , .b4{
    margin: 10px;       
}

.local, .User, .Phone, .Bag {
    transform: scale(1);
    transition: all ease 0.5s;

}

.local:hover, .User:hover, .Phone:hover, .Bag:hover{
    transform: scale(1.2);
}


