.cardbottom {     
    margin: 50px;
    display: flex; 
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;               
}

.cardbottom-body{    
    display: flex;
    padding: 100px;
    margin-top: 20px;     
}



.cardbottom-subtittle{
    text-align: left;
    font-size: 16px;  
    font-family: GOTHAM-LIGHT;  
}

.card-img{
  display: flex;
  height: 400px;  
}

br {
margin-bottom: 30px;
}

